.header {
    grid-area: header;
    background-color: #75003E;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Open Sans;
}

body {
    background-color: white;
}

/*--------------------
Buttons
--------------------*/
.btn {
    display: block;
    background: #75003E;
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin: 20px 0;
    padding: 15px 15px;
    border-radius: 5px;
    position: r
